body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  string-set: heading content();
}

@page {
  margin: 1.5cm;
  padding: 0.5cm 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  @top-right {
    content: string(heading);
    display: block;
    width: 100%;
    border-bottom: 0.05cm solid #1976d2;
    font-size: 10pt;
  }

  @bottom-left {
    content: " ";
    display: block;
    width: 100%;
    border-top: 0.05cm solid #1976d2;
  }

  @bottom-right {
    margin-top: 0.05cm;
    background: #1976d2;
    content: counter(page);
    height: 1cm;
    text-align: center;
    width: 1cm;
    color: #fff;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 16px;
  margin-top: 0;
  border: none;
  padding: 0;
  color: inherit;
  letter-spacing: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 1.7;
}

hr {
  border: 0;
  height: 0;
  border-bottom: 1;
  border-color: #e0e0e0;
  margin: 32px 0;
  display: block;
  background: none;
}

img {
  margin: 16px auto;
  display: block;
  width: 100%;
  max-width: 800;
}

a {
  color: #1976d2;
}

ul,
ol {
  list-style-position: outside;
  padding: 0 0 0 20px;
}

ul li,
ol li,
ul li p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

blockquote {
  padding-left: 8px;
  border-left-width: 4px;
  border-left-style: solid;
  border-color: #1976d2;
  margin: 16px 0;
}

code {
  font-size: 90%;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  color: #b71c1c;
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 3px 6px;
}

pre {
  display: block;
  width: 100%;
  white-space: pre;
  overflow: auto;
  background-color: #212121;
  border-radius: 4px;
  tab-size: 2;
  word-wrap: initial;
  font-size: 12px;
  margin: 16px 0;
  padding: 0;
}

pre code {
  overflow-x: auto;
  display: block;
  padding: 8px;
  background-color: transparent;
  border: 0;
  color: #bdbdbd;
  font-size: 100%;
}

table {
  border-collapse: collapse;
  /width: 100%;
  text-align: left;
  margin: 16px 0;
}

table tr {
  background-color: inherit;
}

table th {
  font-weight: bold;
}

table td {
  vertical-align: top;
}

table tbody {
  word-break: break-word;
}

th,
td {
  border: 1px solid #e0e0e0;
}

thead th,
thead td,
tbody th,
tbody td,
tfoot th,
tfoot td {
  padding: 4px;
}

thead,
tbody tr:nth-of-type(even) {
  background-color: #f5f5f5;
}

table {
  font-size: 12px;
}
